<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:with="pageTitle=#{page.title.error}">

<head th:replace="~{fragments/head :: head}"><!-- Head --></head>
<body class="access-denied-page-body">
<div class="access-denied-page text-center text-uppercase">
    <h1>403</h1>
    <h2>Access Denied</h2>
    <p>Sorry, you do not have permission to view this page.</p>
    <p><a class="home-link text-uppercase" th:href="@{/}">Go to home</a></p>
</div>
</body>
