<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/template}"
      th:with="pageTitle=#{page.title.management}">

<th:block layout:fragment="customStyles">
    <!-- ADD CUSTOM STYLE -->
</th:block>
<th:block layout:fragment="content">
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Manage Employees</h4>
                                <p class="category">Employees Table</p>
                            </div>
                            <div id="employees-list"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</th:block>

<th:block layout:fragment="customScripts">
    <script id="template-active-offers-list" type="text/x-handlebars-template">
        <div class="content table-responsive table-full-width">
            <table class="table table-hover table-striped">
                <tr>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Department</th>
                    <th>Salary</th>
                    <th>Address</th>
                </tr>
                <tbody>
                {{#each items}}
                <tr>
                    <td>{{name}}</td>
                    <td>{{position}}</td>
                    <td>{{department}}</td>
                    <td>{{salary}}</td>
                    <td>{{address}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </script>
</th:block>


