<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head/>
<body>
<th:block th:fragment="employees(employeeList)">
    <div class="col-md-9">
        <div class="card">
            <div class="header">
                <h3 class="title text-primary">Manage Employees</h3>
            </div>
            <div class="content table-responsive table-full-width">
                <table class="table table-hover table-striped">
                    <tr>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Department</th>
                        <th>Position</th>
                        <th>Active</th>
                        <th colspan="2" class="text-center">Actions</th>
                    </tr>
                    <th:block th:each="employee : ${employeeList}">
                        <tr>
                            <td th:text="${employee.name}"></td>
                            <td th:text="${employee.address}"></td>
                            <td th:if="${employee.department ne null}" th:text="${employee.department.name}"></td>
                            <td th:if="${employee.department eq null}"></td>
                            <td th:text="${employee.position}"></td>
                            <td th:text="${employee.active}"></td>
                            <td class="text-center"><a th:href="@{'/manage/edit-employee/'+${employee.id}}"
                                                       class="text-primary">Edit</a></td>
                            <td class="text-center"><a href="javascript:;" class="text-primary delete-employee-link"
                                                       th:data="${employee.id}">Delete</a></td>
                        </tr>
                    </th:block>
                </table>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>