<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/template}"
      th:with="pageTitle=#{page.title.home}">

<th:block layout:fragment="customStyles">
    <!-- ADD CUSTOM STYLE -->
</th:block>

<th:block layout:fragment="content">
    <div class="col-md-9">
        <div class="card">
            <div class="header pb-3">
                <h3 class="title text-primary">Dashboard</h3>
                <hr/>
                <h4 class="title text-primary">Welcome <span th:text="${userName}"></span></h4>
                <br/>
                <div class="title text-primary user-role-section" th:each="role : ${userRoles}">Role: <span th:text="${role.name}"></span><br/></div>
            </div>
        </div>
    </div>
</th:block>

<th:block layout:fragment="customScripts">
    <!-- ADD CUSTOM SCRIPT 1 -->
</th:block>