<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head/>
<body>
<!-- colors: blue | azure | green | orange | red | purple -->
<div th:fragment="header" class="sidebar" data-color="blue" data-image="../img/sidebar.jpg">
    <div class="sidebar-wrapper">
        <div class="logo">
            <h3 class="simple-text">Sample Project J</h3>
        </div>

        <ul class="nav">
            <li th:class="${active_page_home}">
                <a th:href="@{/home}">
                    <i class="pe-7s-graph"></i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li th:class="${active_page_profile}">
                <a th:href="@{/account/profile}">
                    <i class="pe-7s-user"></i>
                    <p>User Profile</p>
                </a>
            </li>
            <li th:class="${active_page_manage}">
                <a th:href="@{/manage/manage-employees}">
                    <i class="pe-7s-note2"></i>
                    <p>Manage Employees</p>
                </a>
            </li>
        </ul>
    </div>
</div>
</body>
