<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/template}"
      th:with="pageTitle=#{page.title.management}">

<th:block layout:fragment="customStyles">
    <!-- ADD CUSTOM STYLE -->
</th:block>
<th:block layout:fragment="content">
    <div class="container">
        <div class="col-md-9">
            <div class="card">
                <div class="header">
                    <h3 class="title text-primary">Add New Employee</h3>
                </div>
                <div class="content">
                    <form id="frmAddEmployee" method="post">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="employeeName">Full Name<span class="text-danger">*</span></label>
                                    <input id="employeeName" name="employee_name" placeholder="Full Name"
                                           class="form-control here" required="required" type="text">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="employeeAddress">Address</label>
                                    <input id="employeeAddress" name="employee_address" placeholder="Address"
                                           class="form-control here" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="employeeDepartment">Department</label>
                                    <select name="employee_department_id" id="employeeDepartment"
                                            class="form-control here">
                                        <option value="0" class="form-control">Select</option>
                                        <option th:each="item: ${departmentList}"
                                                th:value="${item.id}"
                                                th:text="${item.name}"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="employeePosition">Position</label>
                                    <input id="employeePosition" name="employee_position" placeholder="Position"
                                           class="form-control here" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-check">
                                    <label for="employeeActive" class="form-check-label">Active</label>
                                    <input type="checkbox" name="active"
                                           class="form-check-input employee-active-checkbox"
                                           id="employeeActive" checked/>
                                </div>
                            </div>
                        </div>
                        <button type="submit" id="add-employee-submit"
                                class="btn btn-info btn-fill pull-right text-uppercase">Add Employee
                        </button>
                        <div class="clearfix"></div>
                    </form>
                </div>
                <div id="loading-add-employee"></div>
                <div class="error text-center" id="add-employee-error"></div>
            </div>
        </div>

        <hr/>
        <div id="employees-list">
            <div th:replace="~{fragments/components/employee-list :: employees(${employeeList})}"></div>
        </div>
    </div>
</th:block>

<th:block layout:fragment="customScripts">
    <script type="text/javascript" th:src="@{/js/company/manage-employees.js}"></script>
</th:block>


