/*  CSS HELPER  */

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}

@-ms-keyframes spin {
    from {
        -ms-transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
    }
}

/*     General overwrite     */

body {
    background: rgba(203, 203, 210, 0.15);
}

a {
    color: #1DC7EA;
}

a:hover, a:focus {
    color: #42d0ed;
    text-decoration: none;
}

a:focus, a:active,
button::-moz-focus-inner,
input::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
    outline: 0;
}

.ui-slider-handle:focus,
.navbar-toggle,
input:focus {
    outline: 0 !important;
}

.form-control,
.input-group-addon,
.tagsinput,
.navbar,
.navbar .alert {
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}

.sidebar .nav a,
.table > tbody > tr .td-actions .btn {
    -webkit-transition: all 150ms ease-in;
    -moz-transition: all 150ms ease-in;
    -o-transition: all 150ms ease-in;
    -ms-transition: all 150ms ease-in;
    transition: all 150ms ease-in;
}

.sidebar {
    z-index: 10;
    width: 245px;
}

.sidebar .sidebar-wrapper{
    width: 245px;
}

.btn {
    -webkit-transition: all 100ms ease-in;
    -moz-transition: all 100ms ease-in;
    -o-transition: all 100ms ease-in;
    -ms-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
}

.fa {
    width: 18px;
    text-align: center;
}

.table {
    margin-top: 10px !important;
    margin-bottom: 5px !important;
}

.card {
    margin-bottom: 20px !important;
}

.main-panel {
    position: relative;
    z-index: 2;
    float: right;
    width: calc(100% - 260px);
}

.main-panel > .content {
    padding: 30px 15px;
    min-height: calc(100% - 137px);
}

.main-panel > .footer {
    border-top: 1px solid #e7e7e7;
}

.main-panel .navbar {
    margin-bottom: 0;
}

.alert-info {
    background-color: #63d8f1 !important;
}

.alert-success {
    background-color: #a1e82c !important;
}

.alert-warning {
    background-color: #ffbc67 !important;
}

.alert-danger {
    background-color: #fc727a !important;
}

.margin-top {
    margin-top: 50px;
}

@media (max-width: 991px) {
    .main-panel {
        width: 100% !important;
    }
}

/* MODALS */

.success-modal .success h5 {
    display: inline-block;
}

.success-modal .success i {
    font-size: 2.6rem;
    background-color: white;
    padding-left: 5px;
}

.modal-header .modal-title__success {
    color: #fff !important;
}

/* END MODALS */

/* CUSTOM CSS */
.error {
    font-size: 1.6rem;
    font-weight: 600;
    padding-bottom: 15px;
}

.hide-element {
    display: none;
}

.disabled-element {
    background-color: #313131 !important;
    border-color: #888888 !important;
}

.disabled-element:hover {
    background-color: #414141 !important;
    border-color: #888888 !important;
}

.loading-admin_image {
    margin-top: 20px;
    margin-bottom: 20px;
}

.employee-active-checkbox {
    position: relative;
    top: 2px;
    left: 3px;
}

.user-role-section {
    font-size: 1.6rem;
    font-weight: 500;
    padding-bottom: 15px;
}

/* END CUSTOM CSS */

/* MODALS */
.success-modal .success h5 {
    display: inline-block;
}

.success-modal .success i {
    font-size: 2.6rem;
    background-color: white;
    padding-left: 5px;
}

.modal-header .modal-title__success {
    color: #fff !important;
}

/* END MODALS */

/* ACCESS DENIED PAGE */

.access-denied-page-body {
    background: #F44336;
}

.access-denied-page {
    color: #fff;
    padding: 0;
    width: 100%;
    margin-top: 100px;
}

.access-denied-page .home-link {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    display: inline-block;
    width: 150px;
    height: 44px;
    line-height: 44px;
    border-radius: 5px;
    border: 2px solid #fff;
    transition: all .5s ease;
}

.access-denied-page .home-link:hover {
    background: #E57373;
    border: 2px solid #E57373;
    width: 132px;
}

