<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:fragment="head">

    <title>| Admin Panel |</title>

    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">

    <link rel="icon" th:href="@{/img/favicon.ico}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/build.css}">
    <link rel="stylesheet" th:href="@{/css/build-helper.css}">

    <link rel="stylesheet" th:href="@{/css/libs/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/libs/animate.min.css}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Roboto:400,700,300'>
    <link rel="stylesheet" th:href="@{/css/libs/fonts.css}">

    <th:block layout:fragment="customStyles"></th:block>
</head>
<body/>
</html>